html, body {
    height: 100%;
    min-height: 100%;
}

#btn-new-survey {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

/* The selectfield CSS doesn't include spacing, apparently */
.page-content {
    padding: 16px;
    position: relative;
    /*padding-bottom: 52px;*/
    box-sizing: border-box;
}

.page-content-review {
    padding-bottom: 16px;
}

#page-questions {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 68px;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-nav-review {
    position: relative;
    padding: 0;
}